@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Lobster&display=swap'); /*importamos el tipo de fuente*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Amaranth', sans-serif; /*incluimos el tipo de fuente importado*/
}
body{
    background-image: url("imagenes/fondo2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh /* la imagen de fondo ocupará el 100% de ancho y 100% de alto de cualquier pantalla*/
}
a{
    color: white;
    text-decoration: none;
}
form{
    width: 50%;
    margin: auto; /* centramos el formulario*/
    background: rgba(0,0,0,0.5); /* hacemos el fondo del formulario transparente*/
    margin-top: 5em;
    padding: 2em;
    border-radius: 1.5em;
}
input, textarea{
    width: 100%;
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 0.5em;
}
textarea{
    min-height: 8em;
}
section{
    color: white;
}
footer{
    text-align: center;
    color:lightgrey;
    margin-top: 5em;
    border-top: solid black 0.1em;
}
.nav-links{
    background-color: black;
    display: flex; /* utilizamos flexbox para que la barra de navegación sea responsive*/
    justify-content: center;
    height: 2.5em;
    padding: 1em;
    font-size: 2em;
    list-style: none; /* quitamos los puntos del listado*/
    
}
.item{
    padding: 0 1em; /* hacemos la separacion entre los items de la barra de navegación*/
    transition: 0.2s; /* hacemos que agrandar el item se realice progresivamente*/
}
.item:hover{
    transform : scale(1.1); /* incluimos el efecto de agrandar el item cuando pasa el ratón*/
}
.infoHome{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.logo img{
    width: 15em;
    height: auto;
    margin-top: 3em;
}
.infoAdress h3{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.infoCarta{
    margin: 2em;
    padding: 2em;
}
.tituloInfoCarta{
    background-color:  rgb(0,0,0,0.4);
    margin: 1em;
    padding: 0.5em;
    border-radius: 0.5em;
    border-bottom: solid 0.1em;
}
.bloqueSeccion{
    background-color: rgb(0,0,0,0.4);
    margin: 1em;
    display: grid; /* ulitizamos grid para que la carta sea responsive*/
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    border-radius: 0.5em;
}
@media (max-width:1080px){ /* cuando baje la resolución de pantalla a menos de 1080px el grid se reducirá a dos columnas*/
    .bloqueSeccion{
        background-color: rgb(0,0,0,0.4);
        margin: 1em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        border-radius: 0.5em;
    }
}
@media (max-width:768px){ /* cuando baje la resolución de pantalla a menos de 768px el grid se reducirá a una columna*/
    .bloqueSeccion{
        background-color: rgb(0,0,0,0.4);
        margin: 1em;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        border-radius: 0.5em;
    }
}
.bloqueSeccionPostres{
    background-color:  rgb(0,0,0,0.4);
    margin: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    border-radius: 0.5em;
}
@media (max-width:768px){
    .bloqueSeccionPostres{
            background-color:  rgb(0,0,0,0.4);
            margin: 1em;
            display: grid;
            grid-template-columns: 1fr;
            justify-items: center;
            border-radius: 0.5em;
    }
}
.platoInfoCarta{
    margin: 1em;
    padding: 1em;
    transition: transform 0.5s;
}
.platoInfoCarta:hover{
    transform: scale(1.1);
}
.descripcionPlatoInfoCarta{
    display: flex;
    justify-content: space-around;
}
.imagenPlatoInfoCarta img{
    width: 15em;
    height: 10em;
    border-radius: 0.5em;
}
#botonForm{
    background-color: dimgray;
    font-size: 1em;
    transition: background-color 0.5s;
}
#botonForm:hover{
    cursor: pointer;
    background-color: darkslategray;
}
#iconoTelefono{
    width: 1em;
    height: auto;
}
